$badyColorblack: #222222;
$badyColorgrey: #9f9f9f;
$badyColorsearchgrey: #a4a4a4;
$buttonHovercolor: darken($badyColorsearchgrey, 90%);
$badyColorpink: #f16d7f;
$hoverColorpink: darken($badyColorpink, 50%);
$badyColorwhite: #ffffff;

$badColorBorder: #e6e6e6;
$badyColorsearch: #838383;
$footerColorgrey: #898989;
$headerbackgraundpink: #f8f3f4;

.shoppinginfo {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: $badyColorblack;
}
.shoppingregister {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: $badyColorblack;
}
.shoppingtext {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: $badyColorgrey;
  text-transform: lowercase;
  text-transform: capitalize;
}


