$badyColorblack: #222222;
$badyColorgrey: #9f9f9f;
$badyColorsearchgrey: #a4a4a4;
$buttonHovercolor: darken($badyColorsearchgrey, 90%);
$badyColorpink: #f16d7f;
$hoverColorpink: darken($badyColorpink, 50%);
$badyColorwhite: #ffffff;

$badColorBorder: #e6e6e6;
$badyColorsearch: #838383;
$footerColorgrey: #898989;
$headerbackgraundpink: #f8f3f4;


