@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "Newindex";
@import "Newvariabls";

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color:$badyColorblack
}

.container {
  width: 1140px;
  min-height: 100%;
  margin: 0 auto;
}
.meinBlock {
  min-height: 614px;
  background-image: url(../Brand/indexslid.png);
  background-position: center;
  background-repeat: no-repeat;
}

.meinBlock-text {
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding-top: 207px;
  height: 92px;

}

.meinBlock__rose {
  background-color: #f16d7f;
  width: 12px;
  height: 100px;
  display: flex;
  margin-right: 10px;
}

.meinBlock__thebrand{
  font-size: 60px;
  font-weight: 900;
  border: none;
}

.meinBlock__oflaxeri {
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 900;
}

.meinBlock__oflaxeri span {
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
}

.typBlock {
  margin-top: 100px;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
}
.typBlock__man {
  position: relative;
}

.typBlock__man-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 175px;
  background-color: white;
  margin-top: -517px;
  text-align: center;
  vertical-align: center;
  border: none;
}

.typBlock__man-for span{
  font-size: 30px;
  color: #f16d7f;
}
.typBlock__accesories {
  position: relative;
}
.typBlock__accssorias-luxirous {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 225px;
  background-color: white;
  border: none;
  margin-top: -236px;
  text-align: center;
}
.typBlock__accssorias-luxirous span{
  font-size: 30px;
  color: #f16d7f;
}

.typBlock__vomen {
  position: relative;
}

.typBlock__vomen-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 162px;
  background-color: white;
  border: none;
  margin-top: -236px;
  text-align: center;
}

.typBlock__vomen-for span{
  font-size: 30px;
  color: #f16d7f;
}

.typBlock__kids {
  position: relative;
}

.typBlock__kids-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 225px;
  background-color: white;
  border: none;
  margin-top: -517px;
  text-align: center;
}

.typBlock__kids-for span {
  font-size: 30px;
  color: #f16d7f;
}
.Text-Fetured {
  margin-top: 90px;
  text-align: center;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700;
}
.Text-Shop {
  text-align: center;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  color: #9f9f9f;
}

.ShopBlock {
  margin-top: 60px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.ShopBlock-Items {
  height: 345px;
  weight: 261px;
  background-blend-mode: color;
  position: relative;
  opacity: 1;
}

.ShopBlock-Items img:hover {
  opacity: 0.5;
}
.BrowseAll {
  display: flex;
  margin-top: 70px;
  text-align: center;
  height: 48px;
  width: 212px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  overflow: hidden;
}

.BrowseAll:hover {
  color: lightpink;
}
.BrowseAll i {
  Text: f178;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 5px;
  border: none;
}

.BrowseAll i:hover {
  color: lightpink;
}

.discountBlock {
  margin-top: 112px;
  height: 529px;
  display: flex;
  margin-bottom: 98px;
}
.discountBlock__offer {
  width: 767px;
  background: url(../Discauntblockfoto/Slider.png);
  background-blend-mode: overlay;
  position: center;
  background-repeat: no-repeat;
}

.discountBlock__offer-text {
  padding-top: 125px;
  padding-left: 40px;
  font-size: 53.7px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.discountBlock__offer-for {
  padding-left: 40px;
  font-size: 32.2px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.discountBlock__offer-text span {
  color: #f16d7f;
}

.discountBlock__sales {
  width: 390px;
  background-color: #222224;
  flex-direction: column;
  justify-content: space-between;
}

.discountBlock__sales-Free {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-left: 40px;
}

.discountBlock__sales-Free i {
  width: 45px;
  height: 32px;
  color: #f16d7f;
}


.discountBlock__seles-Freedelivery {
  height: 100px;
  width: 219px;
}

.discountBlock__seles-Freedelivery h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fbfbfb;
  padding-bottom: 10px;
}
.discountBlock__seles-Freedelivery p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fbfbfb;
}





.ShopBlock__mango{
  font-size: 13px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.ShopBlock__mangoprise {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f;
}







.meinblock__titel {
  margin-top: 85px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: $badyColorblack;
  display: flex;
  justify-content: space-between;
}

.meinblock__titel-and {
  list-style-type: none;
  display: flex;
}

.meinblock__titel-and li {
  padding-left: 70px;
  width: 85px;
  text-align: center;
  text-transform: uppercase;
}

.meinblock__product {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
       &-Shirt {
       display: flex;
         &-foto {
           margin-right: 20px;
                  }
       }
     }

.meinblock__product-Shirt-foto {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  border: none;
  outline: 1px solid $badyColorwhite;
}

.meinblock__product-Shirt-foto:hover {
  outline-color: $buttonHovercolor;
}
 .MangoT-shirt {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: $badyColorblack;
 }

 .MangoT-shirt-show {
   display: flex;
   text-align: center;
 }

 .Color-Red {
   white-space: nowrap;
   font-size: 13px;
   line-height: 20px;
   font-weight: 400;
   color: #575757;
 }

 .Color-Size {
   white-space: nowrap;
   font-size: 13px;
   line-height: 20px;
   font-weight: 300;
   color: #6f6e6e;
   padding-left: 3px;
 }

 .meinblock__product-details {
   font-size: 13px;
   line-height: 20px;
   font-weight: 400;
        & li {
       color: #656565;
        }
 }
.input-Quantity {
  width: 54px;
  height: 30px;
  text-align: center;
  border-bottom: 1px solid $badyColorsearch;
}
 .delete {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #6f6e6e;
  color: $badyColorwhite;
}

 .meinblock__shopping {
   margin-top: 45px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   font-size: 14px;
   font-weight: 700;
   text-transform: uppercase;
   color: #4a4a4a;
     &-clear {
       height: 50px;
       width: 235px;
       border: 1px solid $badyColorsearch;
       background-color: $badyColorwhite;
   }
     &-continue {
       height: 50px;
       width: 225px;
       border: 1px solid $badyColorsearch;
       background-color: $badyColorwhite;
     }
 }
 .meinblock__checkout {
   margin-top: 62px;
   display: flex;
   justify-content: space-between;

   &-name {
     font-size: 16px;
     line-height: 1.2;
     font-weight: 700;
     text-transform: uppercase;
     color: $badyColorblack;
   }

   &-adress {
     margin-top: 20px;
     height: 45px;
     width: 355px;
     background-color: #ffffff;
     border: 1px solid #eaeaea;
     font-size: 13px;
     font-weight: 300;
     color: #b1b1b1;
     padding-left: 10px;
   }

   &-quote {
     margin-top: 20px;
     height: 35px;
     width: 100px;
     background-color: $badyColorwhite;
     border: 1px solid #eaeaea;
     font-size: 11px;
     font-weight: 700;
     text-transform: uppercase;
     color: #4a4a4a;
     padding-left: 10px;
   }

   &-enter {
     line-height: 25px;
     font-size: 14px;
     font-weight: 300;
     color: #000000;
   }

   &-apply {
     margin-top: 25px;
     height: 35px;
     width: 118px;
     background-color: $badyColorwhite;
     padding-left: 10px;
     font-size: 11px;
     font-weight: 700;
     text-transform: uppercase;
     color: $badyColorsearchgrey;
     border: 1px solid #eaeaea;
   }
 }

 .meinblock_checkout-bill {
   height: 214px;
   width: 360px;
   background-color: #f5f3f3;
   flex-direction: column;
   flex-basis: 35px;
   padding: 45px;
   line-height: 35px;
   text-align: right;

   &-total {
     font-size: 11px;
     font-weight: 400;
     text-transform: uppercase;
     color: $badyColorsearchgrey;
     
   }

   &-grandtotal {
     font-size: 16px;
     font-weight: 700;
     text-transform: uppercase;
   }

   &-grandtotal span {
     color: $badyColorpink;
   }
 }

 .meinblock__checkout-buy {
  margin-top: 15px;
   height: 50px;
   width: 273px;
   background-color: $badyColorpink;
   font-size: 16px;
   font-weight: 700;
   text-transform: uppercase;
   color: $badyColorwhite;
   text-align: center;
   border: none;
   justify-content: space-between;
 }

 .meinblock__buyerinfo {
   margin-top: 90px;

   &-Adress {
   @extend .shoppinginfo;
   }
   &-Shoppingadres {
     display: flex;
     margin-left: 35px;
     margin-top: 40px;
     &-Register {
       @extend .shoppingregister;
       width: 580px;
     }
     &-Text {
       @extend .shoppingtext;
       margin-top: 15px;
       margin-bottom: 30px;
     }
     &-Cseckout {
       margin-bottom: 15px;
       font-size: 12px;
       font-weight: 400;
       text-transform: uppercase;
       color: $badyColorblack;
     }
     &-Easy {
       @extend .shoppingtext;
       margin-bottom: 15px;
       color: #6f6e6e;
     }
     &-Button {
         width: 180px;
         height: 50px;
         background-color: $badyColorwhite;
         border: 1px solid $badyColorsearchgrey;
         text-align: center;
         font-size: 14px;
         font-weight: 700;
         text-transform: uppercase;
         color: $badyColorsearchgrey;
       margin-bottom: 75px;
       padding-right: 20px;
      }
   }
   &-Pasword {
     @extend .shoppingregister;
     width: 392px;
     & label {
       margin-top: 15px;
       margin-top: 15px;
     }
   }

 }
 .meinblock__buyerinfo-Requerd {
   @extend .shoppingtext;
   color: red;
   margin-top: 20px;
 }

 .meinblock__buyerinfo-Method {
   @extend .shoppinginfo;
   margin-bottom: 30px;
   margin-top: 30px;
 }
 em {
   color: red;
 }
 .email {
   height: 45px;
   width: 390px;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .Login {
   margin: 15px 15px 15px 0;
    }

.mainBlock__WoomenCollechtion {
  text-align: center;

   &-background {
     margin-top: 10px;
     height: 777px;
     background-color: #f7f7f7;
     background-image: url("../Single page/Foto1.png");
     background-repeat: no-repeat;
     border-bottom: 1px solid $badyColorsearchgrey;
     background-position: center;
   }
  &-border {
    height: 730px;
    width: 1141px;
    border: 1px solid $badyColorsearchgrey;
    margin-top: -86px;
    padding-top: 70px;
    overflow: hidden;
    background-color: $badyColorwhite;
     &-Women {
       font-size: 14px;
       line-height: 24px;
       font-weight: 700;
       color: $badyColorpink;
       margin-bottom: 13px;
     }
    &-line {
      margin: 0 auto;
      border-bottom: 1px solid $badyColorsearchgrey;
      width: 147px;
    }
    &-linepink {
      margin: 0 auto;
      border-bottom: 3px solid $badyColorpink;
      width: 63px;
      position: relative;
      margin-bottom: 17px;
    }
    &-Moschino {
      font-size: 18px;
      line-height: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: #4d4d4d;
      margin-bottom: 65px;
    }
    &-Text {
      margin: 0 auto;
      width: 621px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: #5e5e5e;
      margin-bottom: 30px;
    }
  }
  &-aboutmodell {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    &-Material {
      margin-right: 40px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: $badyColorgrey;
      & span {
        color: #2f2f2f;
      }
    }
    &-Dezigner {
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: $badyColorgrey;
      & span {
        color: #2f2f2f;
      }
    }
  }
  &-Prise {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: $badyColorpink;
    margin-bottom: 45px;
  }
  &-Hcoose {
    margin: 0 auto;
    width: 621px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &-Color {
      margin-top: 61px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #2f2f2f;
      margin-bottom: 15px;
    }
    &-button {
      width: 144px;
      height: 35px;
      background: $badyColorwhite;
      & i {
        text-align: right;
      }
    }
  }
  &-Cart {
    margin: 0 auto;
    width: 621px;
    height: 55px;
    background-color: $badyColorwhite;
    border: 1px solid $badyColorpink;

    & i {
      padding: 22px;
      font-size: 16px;
      font-weight: 700;
      color: $badyColorpink;
      vertical-align: center;

    }
  }
}
.SecthinBlock {
  margin-top: 120px;
  text-align: center;
   & section {
     font-size: 24px;
     line-height: 20px;
     font-weight: 900;
     text-transform: uppercase;
     color: #4d4d4d;
   }
   &__Woomen {
     margin-top: 70px;
     display: flex;
     justify-content: space-between;
     &-products {
       height: 364px;
       width: 263px;
       &-foto {
         width: 263px;
         height: 280px;
         background-color: #e9e9e9;
         background-position: inherit;
         background-repeat: no-repeat;
       }
       &-product {
         text-align: left;
         font-size: 14px;
         font-weight: 400;
         text-transform: uppercase;
         color: #6f6e6e;
         margin-top: 20px;
         margin-bottom: 20px;
       }
       &-prise {
         text-align: left;
         font-size: 16px;
         font-weight: 700;
         text-transform: uppercase;
         color: $badyColorpink;
       }
     }
   }
}


.meinBlock__choice {
  display: flex;
  margin-top: 60px;
  }
.meinBlock__choice-navi{
      width: 243px;
      margin-right: 50px;
      position: relative;
      display: inline-block;
      height: auto;
      &-category {
        height: 37px;
        width: 243px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        color: #6f6e6e;
        border: none;
        border-bottom: 1px solid $badyColorsearchgrey;
        border-left: 5px solid $badyColorpink;
        margin-bottom: 20px;
        text-align: left;
        padding-left: 12px;
      }
      &-Content {
        display: none;
        position: absolute;
        min-width: 243px;
        background-color: #e9e9e9;
        z-index: 1;
        a {
          text-decoration: none;
          font-size: 14px;
          line-height: 33px;
          font-weight: 400;
          color: #6f6e6e;
          display: block;
          padding-left: 15px;
        }
        a:hover {
          background-color: $badyColorsearchgrey;
        }
      }
}
.meinBlock__choice-navi:hover .meinBlock__choice-navi-Content {
   display: block;
}

.meinBlock__choice-navi:hover .meinBlock__choice-navi-category {
  color: $badyColorpink;
}

.meinBlock__choice-product {
  width: 100%;

  &-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;


    article {
      width: 264px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: $badyColorsearchgrey;
      margin-bottom: 25px;
    }

    ul {
      height: 55px;
      width: 156px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: none;

      li {
        justify-content: space-around;
        text-align: center;
        border-left: 1px solid $badyColorsearchgrey;
        border-right: 1px solid $badyColorsearchgrey;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e;
      }

      li:hover {
        color: $badyColorpink;
      }
    }

    form {
      height: 55px;
      width: 255px;
      display: block;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      input {
        margin-right: 3px;
        height: 13px;
        width: 13px;


        border: $badyColorsearchgrey;
      }

      Label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-right: 30px;
      }
    }
    input[type="range"] {
      width: 100%;
    }
  }
}
.meinBlick__choice-product-menu-prise {
  display: flex;
  justify-content: space-between;
  span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $badyColorsearchgrey;
  }
}

.meinBlock__choice-product-verticalnave {
  height: 50px;
  margin-bottom: 50px;
  background-color: $badyColorgrey;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid $badyColorsearchgrey;

  input {
    margin-left: 10px;
    height: 30px;
    outline:none;
    overflow: hidden;
    border: none;
    border-left: 1px solid $badyColorsearchgrey;
    border-right: 1px solid $badyColorsearchgrey;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $badyColorsearchgrey;
    text-align: center;
  }
  select {
    height: 30px;
    outline:none;
    overflow: hidden;
    border: none;
    text-align: center;
    border-right: 1px solid $badyColorsearchgrey;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: $badyColorsearchgrey;
  }
}
.meinBlock__choice-product-Man {
  width: 100%;
  margin-top: 50px;
  max-height: 1172px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  margin-bottom: 40px;
  &-image {
    height: 364px;
    width: 263px;
    &-slider {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 15px;
      opacity: 1.0;
    }
    &-slider:hover {
      opacity: 0.5;
    }
    &-name {
      margin-bottom: 15px;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      color: $badyColorsearchgrey;
    }
    &-prise {
     margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: $badyColorpink;
   }
  }
}
.meinBlock__choice-product-pagination {
  display: flex;
  justify-content: space-between;
  button {
    height: 55px;
    width: 150px;
    background-color: $badyColorwhite;
    border: 1px solid $badyColorpink;
    border-radius: 5%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: $badyColorpink;
  }
  button:hover {
    color: $badyColorsearchgrey;
  }
}
.pagination {
    display: flex;
    align-items: center;
    height: 55px;
    width: 261px;
    border-radius: 5%;
    border: 1px solid $badyColorsearchgrey;

    a {
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      color: $badyColorsearch;
      padding-left: 18px;

    }
    a:hover {
    color: $badyColorpink;
  }
  }

.informationBlock {
  margin-top: 110px;
  background-color: $badyColorblack;
  min-height: 341px;
  &-Produckt {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 90px;

  }
}

.discountBlock__sales-Free i {
  width: 45px;
  height: 32px;
  color: #f16d7f;
}


.discountBlock__seles-Freedelivery {
  height: 100px;
  width: 309px;
}

.discountBlock__seles-Freedelivery h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fbfbfb;
  padding-bottom: 10px;
}
.discountBlock__seles-Freedelivery p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fbfbfb;
}
.subscribeBlock {

  margin-top: 0;
}














