@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.shoppinginfo, .meinblock__buyerinfo-Adress, .meinblock__buyerinfo-Method {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }

.shoppingregister, .meinblock__buyerinfo-Shoppingadres-Register, .meinblock__buyerinfo-Pasword {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.shoppingtext, .meinblock__buyerinfo-Shoppingadres-Text, .meinblock__buyerinfo-Shoppingadres-Easy, .meinblock__buyerinfo-Requerd {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: lowercase;
  text-transform: capitalize; }

.subscribeBlock {
  margin: 0 auto;
  margin-top: 98px;
  width: 1600px;
  min-height: 436px;
  background: url(../Blockslider/hill.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  display: flex; }

.subscribeBlock__Burhan {
  padding-top: 110px;
  max-width: 50%;
  display: flex; }

.Burhan-hello-foto {
  margin-right: 25px;
  margin-left: 230px; }

.Burhan-hello-vestibulym {
  width: 386px; }

.Burhan-hello-vestibulym p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  color: #222222; }

.Burhan-hello-vestibulym H3 {
  padding-top: 20px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  color: #f16d7f; }

.Burhan-hello-vestibulym H2 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  color: #222222; }

.Burhan-hello-miniblock {
  display: flex;
  padding-top: 40px; }

.miniblock {
  width: 38px;
  height: 4px;
  background-color: #a4a4a4;
  margin-right: 10px; }

.miniblock-pink {
  width: 38px;
  height: 4px;
  background-color: #f16d7f;
  margin-right: 10px; }

.subscribeBlock__Email {
  width: 50%;
  padding-top: 110px;
  padding-right: 230px; }

.subscribeBlock__Email h4 {
  font-size: 24px;
  line-height: 54px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #222222; }

.subscribeBlock__Email h3 {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-align: center; }

.buttonmail {
  overflow: hidden;
  text-align: center;
  margin-top: 35px; }

.mail {
  overflow: hidden;
  height: 46px;
  width: 280px;
  padding-left: 30px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  color: #222224;
  border: none;
  outline: none;
  overflow: hidden; }

.subscribe {
  overflow: hidden;
  height: 46px;
  width: 104px;
  border: none;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  color: #ffffff;
  overflow: hidden;
  outline: none; }

.subscribe:hover {
  color: black; }

.footerBlock {
  height: 540px; }

.footerBlock-brand {
  height: 461px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.footerBlock__logocopy {
  width: 427px; }

.footerBlock__logocopy a {
  text-decoration: none;
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222; }

.footerBlock__logocopy a span {
  font-weight: 900;
  color: #f16d7f;
  text-decoration: none; }

.footerBlock__logocopy p {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  color: #898989;
  padding-top: 25px; }

.footerBlock-menupink {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #f16d7f; }

.footerBlock-menu {
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  line-height: 42px; }

.footerBlock-menu:hover {
  color: black; }

.footerBlock__copyright {
  margin: 0 auto;
  height: 79px;
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e6e6e6; }

.footerBlock__copyright-allright {
  padding-left: 230px;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  color: #898989; }

.footerBlock__copyright-icon {
  display: flex;
  padding-right: 230px; }

.icon {
  height: 32px;
  width: 32px;
  margin-left: 3px;
  border: none;
  background-color: #ffffff;
  text-align: center;
  align-items: center;
  vertical-align: center; }

.icon i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  color: #b2b2b2; }

.icon i:hover {
  color: black;
  width: 120%;
  height: 120%; }

.icon-twitter i {
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #f7f7f8;
  background-color: #f16d7f;
  height: 32px;
  width: 32px; }

.shoppinginfo, .meinblock__buyerinfo-Adress, .meinblock__buyerinfo-Method {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }

.shoppingregister, .meinblock__buyerinfo-Shoppingadres-Register, .meinblock__buyerinfo-Pasword {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.shoppingtext, .meinblock__buyerinfo-Shoppingadres-Text, .meinblock__buyerinfo-Shoppingadres-Easy, .meinblock__buyerinfo-Requerd {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: lowercase;
  text-transform: capitalize; }

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header-left {
  display: flex; }

.header .__logo {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #222222;
  text-decoration: none; }

.header .__logo span {
  color: #f16d7f;
  margin-right: 35px; }

.header .__search {
  align-items: center;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  height: 38px; }
  .header .__search select {
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    color: #838383;
    text-align: center;
    border: none; }

.search__browse {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300; }

.search__browse i {
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #838383;
  text-align: center; }

.header .__search input {
  height: inherit;
  outline: none;
  overflow: hidden;
  border: none;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  color: #a4a4a4; }

.buttonsearch {
  Text: fa-search;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #a4a4a4;
  background: none;
  border: none; }

.buttonsearch i :hover {
  color: #570813; }

.cart {
  width: 32px;
  height: 29px;
  text-align: center; }

.cart:hover {
  color: #570813; }

.header .Myaccount {
  margin-left: 20px;
  border: none;
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-align: center; }

.header .Myaccount:hover {
  color: #570813; }

.header .Myaccount i {
  Text: fa-caret-down;
  font-family: FontAwesome;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  color: #ffffff;
  text-align: center; }

.Myaccount i:hover {
  color: #570813; }

.header-line {
  border-bottom: 1px solid #e6e6e6; }

.TopNav {
  min-height: 51px; }

.TopNav > .menu {
  padding-top: 20px;
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  justify-content: center;
  font-size: 14px;
  font-weight: 700; }

.TopNav > .menu > li:not(:last-child) {
  margin-right: 48px; }

.TopNav > .menu:hover {
  color: #570813; }

.header__button {
  height: 148px;
  background-color: #f8f3f4; }

.header__new {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.header__new-arrivals {
  font-size: 24px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f16d7f; }

.header__new-navi {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #838383; }

.header__new-navi:hover {
  color: #570813; }

.header__new-navi-pink {
  font-weight: 700;
  color: #f16d7f; }

.header__new-navi-pink:hover {
  color: #570813; }

.shoppinginfo, .meinblock__buyerinfo-Adress, .meinblock__buyerinfo-Method {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }

.shoppingregister, .meinblock__buyerinfo-Shoppingadres-Register, .meinblock__buyerinfo-Pasword {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.shoppingtext, .meinblock__buyerinfo-Shoppingadres-Text, .meinblock__buyerinfo-Shoppingadres-Easy, .meinblock__buyerinfo-Requerd {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: lowercase;
  text-transform: capitalize; }

.shoppinginfo, .meinblock__buyerinfo-Adress, .meinblock__buyerinfo-Method {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222; }

.shoppingregister, .meinblock__buyerinfo-Shoppingadres-Register, .meinblock__buyerinfo-Pasword {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.shoppingtext, .meinblock__buyerinfo-Shoppingadres-Text, .meinblock__buyerinfo-Shoppingadres-Easy, .meinblock__buyerinfo-Requerd {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #9f9f9f;
  text-transform: lowercase;
  text-transform: capitalize; }

* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #222222; }

.container {
  width: 1140px;
  min-height: 100%;
  margin: 0 auto; }

.meinBlock {
  min-height: 614px;
  background-image: url(../Brand/indexslid.png);
  background-position: center;
  background-repeat: no-repeat; }

.meinBlock-text {
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding-top: 207px;
  height: 92px; }

.meinBlock__rose {
  background-color: #f16d7f;
  width: 12px;
  height: 100px;
  display: flex;
  margin-right: 10px; }

.meinBlock__thebrand {
  font-size: 60px;
  font-weight: 900;
  border: none; }

.meinBlock__oflaxeri {
  flex-wrap: wrap;
  font-size: 40px;
  font-weight: 900; }

.meinBlock__oflaxeri span {
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f; }

.typBlock {
  margin-top: 100px;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none; }

.typBlock__man {
  position: relative; }

.typBlock__man-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 175px;
  background-color: white;
  margin-top: -517px;
  text-align: center;
  vertical-align: center;
  border: none; }

.typBlock__man-for span {
  font-size: 30px;
  color: #f16d7f; }

.typBlock__accesories {
  position: relative; }

.typBlock__accssorias-luxirous {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 225px;
  background-color: white;
  border: none;
  margin-top: -236px;
  text-align: center; }

.typBlock__accssorias-luxirous span {
  font-size: 30px;
  color: #f16d7f; }

.typBlock__vomen {
  position: relative; }

.typBlock__vomen-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 162px;
  background-color: white;
  border: none;
  margin-top: -236px;
  text-align: center; }

.typBlock__vomen-for span {
  font-size: 30px;
  color: #f16d7f; }

.typBlock__kids {
  position: relative; }

.typBlock__kids-for {
  position: absolute;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  height: 82px;
  width: 225px;
  background-color: white;
  border: none;
  margin-top: -517px;
  text-align: center; }

.typBlock__kids-for span {
  font-size: 30px;
  color: #f16d7f; }

.Text-Fetured {
  margin-top: 90px;
  text-align: center;
  font-size: 30px;
  line-height: 54px;
  font-weight: 700; }

.Text-Shop {
  text-align: center;
  font-size: 14px;
  line-height: 54px;
  font-weight: 400;
  color: #9f9f9f; }

.ShopBlock {
  margin-top: 60px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.ShopBlock-Items {
  height: 345px;
  weight: 261px;
  background-blend-mode: color;
  position: relative;
  opacity: 1; }

.ShopBlock-Items img:hover {
  opacity: 0.5; }

.BrowseAll {
  display: flex;
  margin-top: 70px;
  text-align: center;
  height: 48px;
  width: 212px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #f16d7f;
  font-size: 16px;
  line-height: 54px;
  font-weight: 700;
  color: #ffffff;
  outline: none;
  overflow: hidden; }

.BrowseAll:hover {
  color: lightpink; }

.BrowseAll i {
  Text: f178;
  font-family: FontAwesome;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  padding-left: 5px;
  border: none; }

.BrowseAll i:hover {
  color: lightpink; }

.discountBlock {
  margin-top: 112px;
  height: 529px;
  display: flex;
  margin-bottom: 98px; }

.discountBlock__offer {
  width: 767px;
  background: url(../Discauntblockfoto/Slider.png);
  background-blend-mode: overlay;
  position: center;
  background-repeat: no-repeat; }

.discountBlock__offer-text {
  padding-top: 125px;
  padding-left: 40px;
  font-size: 53.7px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase; }

.discountBlock__offer-for {
  padding-left: 40px;
  font-size: 32.2px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase; }

.discountBlock__offer-text span {
  color: #f16d7f; }

.discountBlock__sales {
  width: 390px;
  background-color: #222224;
  flex-direction: column;
  justify-content: space-between; }

.discountBlock__sales-Free {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-left: 40px; }

.discountBlock__sales-Free i {
  width: 45px;
  height: 32px;
  color: #f16d7f; }

.discountBlock__seles-Freedelivery {
  height: 100px;
  width: 219px; }

.discountBlock__seles-Freedelivery h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fbfbfb;
  padding-bottom: 10px; }

.discountBlock__seles-Freedelivery p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fbfbfb; }

.ShopBlock__mango {
  font-size: 13px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.ShopBlock__mangoprise {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f16d7f; }

.meinblock__titel {
  margin-top: 85px;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  display: flex;
  justify-content: space-between; }

.meinblock__titel-and {
  list-style-type: none;
  display: flex; }

.meinblock__titel-and li {
  padding-left: 70px;
  width: 85px;
  text-align: center;
  text-transform: uppercase; }

.meinblock__product {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .meinblock__product-Shirt {
    display: flex; }
    .meinblock__product-Shirt-foto {
      margin-right: 20px; }

.meinblock__product-Shirt-foto {
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-position: center;
  border: none;
  outline: 1px solid #ffffff; }

.meinblock__product-Shirt-foto:hover {
  outline-color: black; }

.MangoT-shirt {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222; }

.MangoT-shirt-show {
  display: flex;
  text-align: center; }

.Color-Red {
  white-space: nowrap;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #575757; }

.Color-Size {
  white-space: nowrap;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #6f6e6e;
  padding-left: 3px; }

.meinblock__product-details {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400; }
  .meinblock__product-details li {
    color: #656565; }

.input-Quantity {
  width: 54px;
  height: 30px;
  text-align: center;
  border-bottom: 1px solid #838383; }

.delete {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #6f6e6e;
  color: #ffffff; }

.meinblock__shopping {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4a4a4a; }
  .meinblock__shopping-clear {
    height: 50px;
    width: 235px;
    border: 1px solid #838383;
    background-color: #ffffff; }
  .meinblock__shopping-continue {
    height: 50px;
    width: 225px;
    border: 1px solid #838383;
    background-color: #ffffff; }

.meinblock__checkout {
  margin-top: 62px;
  display: flex;
  justify-content: space-between; }
  .meinblock__checkout-name {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222; }
  .meinblock__checkout-adress {
    margin-top: 20px;
    height: 45px;
    width: 355px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 13px;
    font-weight: 300;
    color: #b1b1b1;
    padding-left: 10px; }
  .meinblock__checkout-quote {
    margin-top: 20px;
    height: 35px;
    width: 100px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #4a4a4a;
    padding-left: 10px; }
  .meinblock__checkout-enter {
    line-height: 25px;
    font-size: 14px;
    font-weight: 300;
    color: #000000; }
  .meinblock__checkout-apply {
    margin-top: 25px;
    height: 35px;
    width: 118px;
    background-color: #ffffff;
    padding-left: 10px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #a4a4a4;
    border: 1px solid #eaeaea; }

.meinblock_checkout-bill {
  height: 214px;
  width: 360px;
  background-color: #f5f3f3;
  flex-direction: column;
  flex-basis: 35px;
  padding: 45px;
  line-height: 35px;
  text-align: right; }
  .meinblock_checkout-bill-total {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #a4a4a4; }
  .meinblock_checkout-bill-grandtotal {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .meinblock_checkout-bill-grandtotal span {
    color: #f16d7f; }

.meinblock__checkout-buy {
  margin-top: 15px;
  height: 50px;
  width: 273px;
  background-color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  border: none;
  justify-content: space-between; }

.meinblock__buyerinfo {
  margin-top: 90px; }
  .meinblock__buyerinfo-Shoppingadres {
    display: flex;
    margin-left: 35px;
    margin-top: 40px; }
    .meinblock__buyerinfo-Shoppingadres-Register {
      width: 580px; }
    .meinblock__buyerinfo-Shoppingadres-Text {
      margin-top: 15px;
      margin-bottom: 30px; }
    .meinblock__buyerinfo-Shoppingadres-Cseckout {
      margin-bottom: 15px;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: #222222; }
    .meinblock__buyerinfo-Shoppingadres-Easy {
      margin-bottom: 15px;
      color: #6f6e6e; }
    .meinblock__buyerinfo-Shoppingadres-Button {
      width: 180px;
      height: 50px;
      background-color: #ffffff;
      border: 1px solid #a4a4a4;
      text-align: center;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      color: #a4a4a4;
      margin-bottom: 75px;
      padding-right: 20px; }
  .meinblock__buyerinfo-Pasword {
    width: 392px; }
    .meinblock__buyerinfo-Pasword label {
      margin-top: 15px;
      margin-top: 15px; }

.meinblock__buyerinfo-Requerd {
  color: red;
  margin-top: 20px; }

.meinblock__buyerinfo-Method {
  margin-bottom: 30px;
  margin-top: 30px; }

em {
  color: red; }

.email {
  height: 45px;
  width: 390px;
  margin-top: 10px;
  margin-bottom: 10px; }

.Login {
  margin: 15px 15px 15px 0; }

.mainBlock__WoomenCollechtion {
  text-align: center; }
  .mainBlock__WoomenCollechtion-background {
    margin-top: 10px;
    height: 777px;
    background-color: #f7f7f7;
    background-image: url("../Single page/Foto1.png");
    background-repeat: no-repeat;
    border-bottom: 1px solid #a4a4a4;
    background-position: center; }
  .mainBlock__WoomenCollechtion-border {
    height: 730px;
    width: 1141px;
    border: 1px solid #a4a4a4;
    margin-top: -86px;
    padding-top: 70px;
    overflow: hidden;
    background-color: #ffffff; }
    .mainBlock__WoomenCollechtion-border-Women {
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #f16d7f;
      margin-bottom: 13px; }
    .mainBlock__WoomenCollechtion-border-line {
      margin: 0 auto;
      border-bottom: 1px solid #a4a4a4;
      width: 147px; }
    .mainBlock__WoomenCollechtion-border-linepink {
      margin: 0 auto;
      border-bottom: 3px solid #f16d7f;
      width: 63px;
      position: relative;
      margin-bottom: 17px; }
    .mainBlock__WoomenCollechtion-border-Moschino {
      font-size: 18px;
      line-height: 24px;
      font-weight: 900;
      text-transform: uppercase;
      color: #4d4d4d;
      margin-bottom: 65px; }
    .mainBlock__WoomenCollechtion-border-Text {
      margin: 0 auto;
      width: 621px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 300;
      color: #5e5e5e;
      margin-bottom: 30px; }
  .mainBlock__WoomenCollechtion-aboutmodell {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .mainBlock__WoomenCollechtion-aboutmodell-Material {
      margin-right: 40px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #9f9f9f; }
      .mainBlock__WoomenCollechtion-aboutmodell-Material span {
        color: #2f2f2f; }
    .mainBlock__WoomenCollechtion-aboutmodell-Dezigner {
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #9f9f9f; }
      .mainBlock__WoomenCollechtion-aboutmodell-Dezigner span {
        color: #2f2f2f; }
  .mainBlock__WoomenCollechtion-Prise {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #f16d7f;
    margin-bottom: 45px; }
  .mainBlock__WoomenCollechtion-Hcoose {
    margin: 0 auto;
    width: 621px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .mainBlock__WoomenCollechtion-Hcoose-Color {
      margin-top: 61px;
      font-size: 14px;
      line-height: 24px;
      font-weight: 700;
      color: #2f2f2f;
      margin-bottom: 15px; }
    .mainBlock__WoomenCollechtion-Hcoose-button {
      width: 144px;
      height: 35px;
      background: #ffffff; }
      .mainBlock__WoomenCollechtion-Hcoose-button i {
        text-align: right; }
  .mainBlock__WoomenCollechtion-Cart {
    margin: 0 auto;
    width: 621px;
    height: 55px;
    background-color: #ffffff;
    border: 1px solid #f16d7f; }
    .mainBlock__WoomenCollechtion-Cart i {
      padding: 22px;
      font-size: 16px;
      font-weight: 700;
      color: #f16d7f;
      vertical-align: center; }

.SecthinBlock {
  margin-top: 120px;
  text-align: center; }
  .SecthinBlock section {
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #4d4d4d; }
  .SecthinBlock__Woomen {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
    .SecthinBlock__Woomen-products {
      height: 364px;
      width: 263px; }
      .SecthinBlock__Woomen-products-foto {
        width: 263px;
        height: 280px;
        background-color: #e9e9e9;
        background-position: inherit;
        background-repeat: no-repeat; }
      .SecthinBlock__Woomen-products-product {
        text-align: left;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-top: 20px;
        margin-bottom: 20px; }
      .SecthinBlock__Woomen-products-prise {
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #f16d7f; }

.meinBlock__choice {
  display: flex;
  margin-top: 60px; }

.meinBlock__choice-navi {
  width: 243px;
  margin-right: 50px;
  position: relative;
  display: inline-block;
  height: auto; }
  .meinBlock__choice-navi-category {
    height: 37px;
    width: 243px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    border: none;
    border-bottom: 1px solid #a4a4a4;
    border-left: 5px solid #f16d7f;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 12px; }
  .meinBlock__choice-navi-Content {
    display: none;
    position: absolute;
    min-width: 243px;
    background-color: #e9e9e9;
    z-index: 1; }
    .meinBlock__choice-navi-Content a {
      text-decoration: none;
      font-size: 14px;
      line-height: 33px;
      font-weight: 400;
      color: #6f6e6e;
      display: block;
      padding-left: 15px; }
    .meinBlock__choice-navi-Content a:hover {
      background-color: #a4a4a4; }

.meinBlock__choice-navi:hover .meinBlock__choice-navi-Content {
  display: block; }

.meinBlock__choice-navi:hover .meinBlock__choice-navi-category {
  color: #f16d7f; }

.meinBlock__choice-product {
  width: 100%; }
  .meinBlock__choice-product-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    .meinBlock__choice-product-menu article {
      width: 264px;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: #a4a4a4;
      margin-bottom: 25px; }
    .meinBlock__choice-product-menu ul {
      height: 55px;
      width: 156px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border: none; }
      .meinBlock__choice-product-menu ul li {
        justify-content: space-around;
        text-align: center;
        border-left: 1px solid #a4a4a4;
        border-right: 1px solid #a4a4a4;
        font-size: 14px;
        line-height: 26px;
        font-weight: 400;
        color: #6f6e6e; }
      .meinBlock__choice-product-menu ul li:hover {
        color: #f16d7f; }
    .meinBlock__choice-product-menu form {
      height: 55px;
      width: 255px;
      display: block;
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .meinBlock__choice-product-menu form input {
        margin-right: 3px;
        height: 13px;
        width: 13px;
        border: #a4a4a4; }
      .meinBlock__choice-product-menu form Label {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #6f6e6e;
        margin-right: 30px; }
    .meinBlock__choice-product-menu input[type="range"] {
      width: 100%; }

.meinBlick__choice-product-menu-prise {
  display: flex;
  justify-content: space-between; }
  .meinBlick__choice-product-menu-prise span {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #a4a4a4; }

.meinBlock__choice-product-verticalnave {
  height: 50px;
  margin-bottom: 50px;
  background-color: #9f9f9f;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #a4a4a4; }
  .meinBlock__choice-product-verticalnave input {
    margin-left: 10px;
    height: 30px;
    outline: none;
    overflow: hidden;
    border: none;
    border-left: 1px solid #a4a4a4;
    border-right: 1px solid #a4a4a4;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #a4a4a4;
    text-align: center; }
  .meinBlock__choice-product-verticalnave select {
    height: 30px;
    outline: none;
    overflow: hidden;
    border: none;
    text-align: center;
    border-right: 1px solid #a4a4a4;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #a4a4a4; }

.meinBlock__choice-product-Man {
  width: 100%;
  margin-top: 50px;
  max-height: 1172px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  margin-bottom: 40px; }
  .meinBlock__choice-product-Man-image {
    height: 364px;
    width: 263px; }
    .meinBlock__choice-product-Man-image-slider {
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 15px;
      opacity: 1.0; }
    .meinBlock__choice-product-Man-image-slider:hover {
      opacity: 0.5; }
    .meinBlock__choice-product-Man-image-name {
      margin-bottom: 15px;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      color: #a4a4a4; }
    .meinBlock__choice-product-Man-image-prise {
      margin-bottom: 15px;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #f16d7f; }

.meinBlock__choice-product-pagination {
  display: flex;
  justify-content: space-between; }
  .meinBlock__choice-product-pagination button {
    height: 55px;
    width: 150px;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    border-radius: 5%;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #f16d7f; }
  .meinBlock__choice-product-pagination button:hover {
    color: #a4a4a4; }

.pagination {
  display: flex;
  align-items: center;
  height: 55px;
  width: 261px;
  border-radius: 5%;
  border: 1px solid #a4a4a4; }
  .pagination a {
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #838383;
    padding-left: 18px; }
  .pagination a:hover {
    color: #f16d7f; }

.informationBlock {
  margin-top: 110px;
  background-color: #222222;
  min-height: 341px; }
  .informationBlock-Produckt {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 90px; }

.discountBlock__sales-Free i {
  width: 45px;
  height: 32px;
  color: #f16d7f; }

.discountBlock__seles-Freedelivery {
  height: 100px;
  width: 309px; }

.discountBlock__seles-Freedelivery h3 {
  font-size: 20px;
  font-weight: 700;
  color: #fbfbfb;
  padding-bottom: 10px; }

.discountBlock__seles-Freedelivery p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #fbfbfb; }

.subscribeBlock {
  margin-top: 0; }

/*# sourceMappingURL=Newstyle.css.map */
